<!DOCTYPE html>
<html>

<head>
  <title><%=title %></title>
  <meta charset="utf-8" />
</head>

<body>
<table border = "1">
  <h1><%=title %> в EJS</h1>
  <h3>Фильм <%=id%></h3>
    <tbody>
      <tr>
        <td>1</td>
        <td>Item 1</td>
        <td>
          <button onclick="deleteRow(this)">Удалить</button>
        </td>
      </tr>
    </tbody>
  </table>
<script>
function deleteRow(button) {
  // Находим родительскую строку (<tr>)
  const row = button.parentNode.parentNode;
  // Удаляем строку из таблицы
  row.parentNode.removeChild(row);
}
</script>
</body>
<html>